/* color: #16a3a3 */

.container {
  text-align: center;
  background: #eceeef;
  border-radius: 5px;
  padding: 30px 10px;
  margin: 50px 30px 50px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.container form {
  margin: 0% 2% 2%;
  padding: 0% 1%;
  /* color: #000000; */
}

.container input,
.container fieldset {
  display: block;
  font-size: 1rem;
  padding: 3% 5%;
  border-radius: 7px;
  width: 100%;
  border-color: transparent;
}

.container input:hover {
  border-color: #000000;
  border-width: 1px;
}

.button {
  background-color: #1565c0;
  color: white;
  display: block;
  font-size: 1rem;
  padding: 2%;
  border-radius: 7px;
  width: 100%;
  border-color: transparent;
}

.container option {
  font-size: 1rem;
  width: 100%;
}

.container datalist {
  font-size: 1rem;
  width: 100%;
}

.container legend {
  margin: -4%;
}

.stack_container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 855px) {
  .stack_container {
    width: 80%;
    margin-top: 20px;
  }

  .container {
    display: flex;
    text-align: left;
    column-gap: 5%;
  }

  .container p {
    padding-left: 1rem;
    color: #ff0000;
  }

  .container form {
    flex-grow: 2;
  }

  .container input,
  .container fieldset {
    padding: 2%;
  }

  .container legend {
    margin: -1%;
  }
}
