.container {
  text-align: center;
}

form {
  margin: 0% 2% 2%;
  padding: 0% 1%;
  color: #000000;
}

input,
button,
select {
  display: block;
  font-size: 1rem !important;
  padding: 2% 2%;
  border-radius: 7px;
  width: 100%;
}

.stack_container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 580px) {
  .stack_container {
    width: 60%;
  }
}
