main h2.form {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 1.3rem;
}

label {
  display: block;
  margin: 0.7%;
  padding-left: 0.9rem;
  padding-top: 0.5rem;
  font-size: 1.1rem;
}

input,
select,
textarea {
  font-size: 1rem;
  padding: 2% 2%;
  margin-left: 1.2em;
  width: 90%;
  border-radius: 7px;
}

select option {
  font-size: 1rem;
}

select {
  border-color: #3a3a3a;
  border-width: 2px;
}
