.PieContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.DetailList {
    list-style: none;
    width: 100%;
    background-color: #eeeeee;
    padding: 20px;
}

.DetailList__Item {
    margin-bottom: 4px;
}

.DetailList__Link {
    display: inline-block;
    border: 1px solid #d1d1d1;
    border-radius: 18px;
    width: 190px;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.DetailList__Link:hover {
    border: 1px solid #949494;
    text-decoration: none;
    color: black;
    filter: brightness(90%);
}

@media (min-width: 700px) {
    .PieContainer {
        width: 50%;
        max-height: 650px;
    }
    
    .HomeLayout {
        display: flex;
        flex-direction: row;
    }

    .DetailList {
        width: 50%;
        height: 100%;
        margin-top: 15%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
}